* {
    font-family:Arial, Helvetica, sans-serif;
}
    
header {
    background-color: #3a3b3c;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1{
    background-color: lightblue;
    padding: 5px 5px 5px 50px;
    color: #3a3b3c;
    font-size: 40px;
}

header nav {
    padding-top: 35px;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:skyblue;
}

header a:visited {
    color: lightblue;
}

.banner img {
    width: 1887px;
    height: 400px;
}

.banner h2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: lightblue;
    margin-right: 50px;
    margin-left: 1600px;
}

.card {
    color: navy;
    display: flex;
    justify-content: space-between;
}

.card h2 {
    text-align: right;
    padding-left: 100px;
    padding-right: 10px;
    border-right-style: solid;
    font-size: 50px;
    padding-bottom: 300px;
}

.content {
    display: flex;
    justify-content: right;
    padding: 50px;
    padding-left: 10px;
    padding-right: 100px;
}

.content a {
    background-color: lightblue;
}

.content img {
    padding: 10px;
}
